.movieContainer {
  display: flex;
  flex-direction: column;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.heroImageContainer {
  display: flex;
  flex-direction: column;

  position: relative;
}

.heroImageOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0)
  );
}

.heroImage {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

.heroImage > img {
  width: 100%;
}

.heroDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-family: "Nunito", sans-serif;
}

.heroDetailsTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.heroMetadataContainer {
  color: #a3a3a3;
}

.heroMetadataContainer > :not(:last-child) {
  border-right: 1px solid #a3a3a3;
  margin-right: 9px;
  padding-right: 11px;
}

.heroMetadataItem {
  display: inline-block;
}

.contentRating {
  display: inline-block;
}

.contentRatingNumber {
  border: 1px solid #a1a1a1;
  padding: 0 5px;
}

.heroSynopsisContainer {
  display: flex;
  flex-direction: column;
}

.heroSynopsisItem {
  margin-top: 10px;
}

.heroSynopsisItem span {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 5px;
}

.heroSynopsisItemLabel {
  color: #a3a3a3;
}

.heroSynopsisItemLabel ~ span:not(:last-of-type)::after {
  content: ",";
}

.heroSynopsisContainer > :last-child {
  margin-bottom: 10px;
}

.commentsAndSimilarMoviesContainer {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 5px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heroDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    max-width: 60%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      #171717 0,
      rgba(23, 23, 23, 0.98) 20%,
      rgba(23, 23, 23, 0.97) 25%,
      rgba(23, 23, 23, 0.95) 35%,
      rgba(23, 23, 23, 0.94) 40%,
      rgba(23, 23, 23, 0.92) 45%,
      rgba(23, 23, 23, 0.9) 50%,
      rgba(23, 23, 23, 0.87) 55%,
      rgba(23, 23, 23, 0.82) 60%,
      rgba(23, 23, 23, 0.75) 65%,
      rgba(23, 23, 23, 0.63) 70%,
      rgba(23, 23, 23, 0.45) 75%,
      rgba(23, 23, 23, 0.27) 80%,
      rgba(23, 23, 23, 0.15) 85%,
      rgba(23, 23, 23, 0.08) 90%,
      rgba(23, 23, 23, 0.03) 95%,
      rgba(23, 23, 23, 0) 100%
    );
  }

  .heroImage {
    max-height: calc(100vh / 1.1);
  }

  .heroDetails {
    width: 77%;
  }

  .heroImageOverlay {
    display: none;
  }

  .commentsAndSimilarMoviesContainer {
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 10px;
    margin: 0 70px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .heroDetailsContainer {
    max-width: 50%;
  }
}
