.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "MuseoModerno", sans-serif;
  font-size: 1rem;
  background: black;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:visited {
  text-decoration: none;
  color: inherit;
}
