.topnav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* main axis */
  align-items: center; /* cross axis */
  padding: 10px;
  background-color: black;
  font-family: "MuseoModerno", sans-serif;
}
.topnav-left {
  font-size: 1.5rem;
}

.topnav-left a {
  text-decoration: none;
  color: #e50914;
}

.topnav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.topnav-right > div {
  margin-right: 10px;
}

.topnav-right > div:last-child {
  margin-right: 0;
}

.topnav-right > div > a {
  text-decoration: none;
  background-color: #e50914;
  border-radius: 3px;
  color: inherit;
  font-size: 1rem;
  line-height: normal;
  padding: 6px 16px;
}

.topnav-right > div > a:hover {
  color: black;
}

.topnav-dropdown {
  position: relative;
  display: inline-block;
}

.topnav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #bbbbbb;
  border-radius: 2px;
  right: -10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.topnav-dropdown:hover .topnav-dropdown-content {
  display: block;
}

.topnav-dropdown-content-item {
  padding: 5px 10px 5px 10px;
  transition: all 0.5s;
  border-bottom: 1px solid rgb(221, 173, 83);
}

.topnav-dropdown-content-item:last-of-type {
  border-bottom: none;
}

.topnav-dropdown-content-item:hover {
  background: #e50914;
}

.topnav-dropdown-content-item a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.topnav-dropdown-content-item a:hover {
  text-decoration: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .topnav {
    padding: 20px;
  }
  .topnav-dropdown-content {
    right: -15px;
    max-width: 160px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
