.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Nunito", "Arial Narrow", Arial, sans-serif;
  padding: 0 5px 5px 5px;
}
